.container > div {
  border: 1px solid #eee;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 400px 400px;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-areas: 
  "daniel daniel walters kiera"
  "jean patrick patrick kiera";
}

.daniel {
  grid-area: daniel;
}

.walters {
  grid-area: walters;
}

.kiera {
  grid-area: kiera;
}

.jean {
  grid-area: jean;
}

.patrick {
  grid-area: patrick;
}